/*ini css*/

main{
    padding: 35px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon{
    height: 50px;
    width: 50px;

    /*For image icon*/
    background-image: url(https://picsum.photos/id/237/200/300);
    background-size: cover;
    border-radius: 50%;
}

nav>a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
}

.banner-container {
    height: 350px;
    width: 1366px;
    border: 1px solid;
}

.profile-content{
    display: flex;
    justify-content: space-evenly;
}

.profile-item{
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon{
    height: 50px;
    width: 50px;
    border: 1px solid;

    background-size: cover;
    border-radius: 50%;
}

.profile-1{
    background-image: url(../assets/.jpg);
}

.profile-2{
    background-image: url(../assets/.jpg);
}
.divider{
    flex: 2;
}


